<template>
  <div>
    <NavBar />

    <div class="mt-5">
      <nuxt/>
    </div>
    
  </div>
</template>

<script>

  import NavBar from '@/components/NavBarAdmin'
  export default {
      components : { NavBar }
  }
</script>