<template>
   <div>
       <b-navbar toggleable="lg" type="dark" variant="info">
        <nuxt-link :to= "{ name : 'home' }" class="navbar-brand">Mini-troov</nuxt-link>
       
        <b-navbar-nav class="ml-auto">
           <li class="nav-item">
            <a href="#" class="nav-link">Login</a>
           </li>
        </b-navbar-nav>
       </b-navbar>
   </div>
</template>

<script>
   
</script>