<template>
    <div>   
     <main>
       <b-container>
        <b-row>
          <b-col md="12">
                <div class="jumbotron">
                    <h5 class="display-4">UN OBJET PERDU SE TRANSFORME SOUVENT EN OBJET TROUVÉ !</h5>
                    <p class="lead mt-5">
                        <a class="btn btn-info btn-lg mr-3"  role="button">J'ai perdu un objet</a>
                        <a class="btn btn-info btn-lg" role="button">J'ai trouvé un objet</a>
                    </p> 
               </div>
          </b-col>
        </b-row>
       </b-container>
     </main>
    </div>
</template>

<script>
    export default{
      layout :'admin'
    }
</script>